@(title: String)(content: Html)

<!DOCTYPE html>
<html ng-app="ar" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Agile Report | @title</title>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("stylesheets/ar.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("stylesheets/login.css")" rel="stylesheet" type="text/css">
    </head>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script src="@routes.Assets.at("javascripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bower_components/angular-route/angular-route.min.js")"></script>

    <body>
        @content
    </body>

    <script src="@routes.Assets.at("javascripts/bower_components/angular-cookies/angular-cookies.min.js")"></script>

    <script src="@routes.Assets.at("javascripts/bower_components/angular-sanitize/angular-sanitize.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bower_components/showdown/compressed/showdown.js")"></script>
    <script src="@routes.Assets.at("javascripts/bower_components/angular-markdown-directive/markdown.js")"></script>

    <script src="@routes.Assets.at("javascripts/bower_components/angular-animate/angular-animate.min.js")"></script>

    <script src="@routes.Assets.at("javascripts/ga.js")"></script>
    <script>
        var globalUrls = {
            assets: {
                js: '@routes.Assets.at("javascripts/")',
                views: '@routes.Assets.at("views/")'
            },
            api: {
                report: '@routes.ReportService.Get("")',
                reports: '@routes.ReportsService.Get()',
                report_formats: '@routes.ReportFormatsService.Get()',
                tokens: '@routes.TokensService.Post()'
            }
        }
    </script>
</html>
