<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Agile Report</span>
        </div>
        <div class="navbar-collapse collapse" collapse="navCollapsed">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/report/">Home</a></li>
                <li><a href="/report/#/new">New Report</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login/">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>