<div class="page-header">
    <p class="lead">
        Review the complete list of existent reports
    </p>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Report Description</th>
        <th></th>
        <th>Status</th>
        <th>Last Updated</th>
        <th>Date Completed</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="report in reports">
            <td><a href="#view/{{report.id}}">{{report.user.firstName}} {{report.user.lastName}}'s work report ({{report.dateCreatedUtc | date: 'mediumDate'}})</a></td>
            <td>{{report.id}}</td>
            <td>{{report.status}}</td>
            <td>{{report.dateUpdatedUtc | date}}</td>
            <td>{{report.dateCompletedUtc | date}}</td>
        </tr>
    </tbody>
</table>


