<div class="page-header">
    <p class="lead">
        {{report.user.firstName}} {{report.user.lastName}}'s work report ({{report.dateCreatedUtc | date: 'mediumDate'}})
    </p>
    <p class="text-center"><em>Tip: You can change a report until it approved.</em></p>
</div>

<div>
    <div class="report panel panel-default">
        <div class="panel-heading">
            <h3 class="rName panel-title">Report Status: {{report.status}}</h3>
        </div>
        <div class="panel-body">
            <dl ng-repeat="el in report.body">
                <dt>{{el.name}}</dt>
                <dd btf-markdown="el.value"></dd>
            </dl>
        </div>
    </div>
</div>